$gold: #D2B48C;
$pink: #FFD3E6;
$coral: #FF7399;
$brown: #B89081;
$red: #ee3f4d;
$blue: #2F364D;
$green:#26453D;
$purple:#B28FCE;


$transition: all ease-in-out 0.3s;
$drop-shadow:(5px 5px 10px rgba(0, 0, 0, 0.5));
